body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    box-sizing: border-box;
    margin: 0%;
}

ul {
    list-style-type: none;
    margin: 2vw;
    padding: 0;
  }

li {
    float: right;
}

li a {
    background-color: transparent; 
    text-decoration: none;
    color: black;
    padding: 3vw;
    font-size: 18px;
}

h1 {
    font-size: 100px;
    padding-left: 5vw;
    margin: 0;
}

h2 {
    font-size: 60px;
    padding-left: 5vw;
    margin-top: 2vw;
}

a {
    background-color: transparent; 
    text-decoration: none;
    color: black;
    font-size: 100px;
}

.box {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.gridContainer {
    display: grid;
    justify-content:center;
    grid-template-columns: 24vw 24vw 24vw;
    grid-column-gap: 6vw;   
    margin-top: 2vw;                                                                                                                                                                                                                  '
}

#box1 {
    background-position: center;
    background-size: 18vw 20vw;
    display: flex;
    /* margin-left: 2vw; */
}

#box2 {
    background-position: center;
    background-size: 18vw 20vw;
    display: flex;
    /* margin-left: 2vw; */
}

#box3 {
    background-position: center;
    background-size: 18vw 20vw;
    display: flex;
    /* margin-left: 2vw; */
}