body {
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 60px;
    padding-left: 5vw;
    margin: 0;
    padding-top: 5vw;
}

ul {
    list-style-type: none;
    margin: 2vw;
    padding: 0;
  }

li {
    float: right;
}

li a {
    background-color: transparent; 
    text-decoration: none;
    color: black;
    padding: 3vw;
    font-size: 18px;
}

.navbar li:first-child {
    float: left;
}

.textItem {
    padding: 5vw;
    font-size: 18px;
    padding-top: 2vw;
}

a {
    background-color: transparent; 
    text-decoration: none;
    color: black;
    padding-left: 86vw;
    font-size: 22px;
}

p {
    margin-right: 25rem;
    line-height: 2rem;
}